
@{
    ViewBag.Title = "politicaMonetaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Tasa de Política Monetaria</h2>


<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Tasa de Política Monetaria</div>
        <div class="panel-body graph">
            <p>
                <img class="img-responsive" src='@Url.Action("graphTasas", "Indicadores", new{ inicio=ViewBag.inicio, final=ViewBag.final, indicador=ViewBag.indicador,
                                                                         titulo = ViewBag.titulo })' />
            </p>
        </div>
    </div>
</div>