@model IEnumerable<ProyectoFinanciera.Models.Indicadores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipo de Cambio Venta del Dólar</h2>



<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Tipo de Cambio Venta del Dólar</div>
        <div class="panel-body graph"><p><img  class="img-responsive" src='@Url.Action("GraphCambioVenta", "Serialize")' /></p></div>
    </div>
</div>
    





