
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="panel about panel-default">
        <div class="panel-body">
            <h3>Historia</h3>
            <p>
                El Progreso es una empresa
                costarricense, nacida en el año 2010 en
                Desamparados de San José, la cual
                desde sus inicios se ha ganado el
                corazón de los costarricenses brindando
                productos de crédito y ahorro, a precios
                justos y accesibles para el público en
                general.
            </p>
            <p>
                Dada la demanda actual en el mercado
                financiero, y la creciente tendencia en el
                análisis de datos, El Progreso ha visto la
                necesidad de desarrollar un sistema
                web, que le permita tener un contacto
                más directo con sus clientes, y a la vez
                brindar a los usuarios información de
                importancia para la toma de decisiones
                financieras, esto mediante una interfaz
                amigable, confiable y que sea
                vanguardista de las últimas tecnologías.
            </p>
            <p>
                El Progreso conoce muy bien las necesidades los sus clientes, sin embargo, es
                consciente de la poca educación financiera que reciben los mismos en los centros
                educativos de primera y segunda enseñanza, así como universitario, por lo cual desea
                incluir como pilar de la aplicación web, información de tres indicadores financieros que
                usualmente las personas no conocen: Tasa de Política Monetaria, Tasa Básica Pasiva y
                Tipos de Cambio del dólar estadounidense con relación al colón costarricense.
                Los indicadores mencionados anteriormente, son creados por el Banco Central de Costa
                Rica y los mismos pueden ser consultados en la página web oficial del mismo.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel  about panel-default">
        <div class="panel-body">
            <h3>Misión</h3>
            <p>
                Ser creativos y eficaces en la gestión de inversiones y en la generación de oportunidades
                de inversión y soluciones financieras, fundamentados en las necesidades de las empresas y en nuestra experiencia y conocimiento, creando valor a nuestros accionistas
                y nuestra comunidad.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel  about panel-default">
        <div class="panel-body">
            <h3>Visión</h3>
            <p>
                Ser reconocidos como la entidad financiera líder en la creación, desarrollo,
                administración y distribución de inversiones, comprometidos con el crecimiento
                económico del país.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel  about panel-default">
        <div class="panel-body">
            <h3>Valores</h3>
            <ul>
                <li>Integridad</li>
                <li>Creatividad</li>
                <li>Enseñar con el ejemplo</li>
                <li>Escuchar para entender</li>
                <li>Trabajar en equipo</li>
                <li> Desarrollar a otros</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel  about panel-default">
        <div class="panel-body">
            <h3>Responsabilidad Social</h3>
            <p>
                En El Progreso contamos con políticas y prácticas fundamentadas en principios y
                valores, que contribuyen al logro de los objetivos de la compañía y al fortalecimiento de
                relaciones de mutuo beneficio con nuestros grupos de interés (accionistas, clientes,
                empresas del portafolio de inversiones, proveedores, colaboradores y comunidad en
                general), controlando y midiendo los impactos social, económico y ambiental.
            </p>
            <p>
                De la mano de nuestro objeto social, logramos cumplir los objetivos de responsabilidad
                social empresarial, a través de las unidades de negocio, las filiales y empresas del
                portafolio con las cuales logramos un mayor impacto al llegar a distintos sectores de la
                sociedad.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel  about panel-default">
        <div class="panel-body">
            <h3>Organigrama</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel  about panel-default">
        <div class="panel-body">
            <h3>Objetivo General</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel  about panel-default">
        <div class="panel-body">
            <h3>Objetivos específicos</h3>
        </div>
    </div>
</div>


